h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small,
.h3 small, .h4 small, .h5 small, .h6 small {
    color: #e7e9ec
}

h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 15px
}

h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 15px
}

h6 {
    font-weight: 400
}

h1, .h1 {
    font-size: 61px
}

h2, .h2 {
    font-size: 53px
}

h3, .h3 {
    font-size: 40px
}

h4, .h4 {
    font-size: 29px
}

h5, .h5 {
    font-size: 28px
}

h6, .h6 {
    font-size: 24px
}

p {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 1.72222
}

a:not(.button) {
    text-decoration: none;
    color: #1abc9c;
}

a.not(.button):hover {
    color: #067858;
}

.lead {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.46428571
}

@media (min-width:768px) {
    .lead {
        font-size: 30.01px
    }
}

small, .small {
    font-size: 83%;
    line-height: 2.067
}
